<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer servidor</title>
    <link rel="stylesheet" href="/main.css"><!-- el / antes del main es necesario para saber que lo leo de mi servidor y no relativo desde mis archivos-->
</head>
<body>
    <h1>Soy el Home del router</h1><br>
    <%- include('components/nav'); -%>
    
</body>
</html>