<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer servidor</title>
    <script src="/web3script.js"></script>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>get Balance</h1>
    <%- include('components/nav'); -%>

    <label>Get Blance</label><input type="text" id="address"> <button onclick="sendAddress()">submit</button><br>
    <div id="balance"></div>

    <%= balance %>

</body>
</html>